<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Comments</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="static/main.css" />
    <!-- <script src="main.js"></script> -->
</head>
<body> 
    <h1>Comments</h1>
    <form action="" method="post">
        <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
        <div>
            <button type="submit">Post Comment</button>
        </div>
    </form>
    {{ range. }}
        <div>{{ . }}</div>
    {{ end }}
</body>
</html>