<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>

<body>
    {{ if . }} 
        <div class="error">{{ . }}</div>
    {{ end }}
    <form action="" method="post">
        <div>Username:
            <input type="text" name="username">
        </div>
        <div>Password:
            <input type="text" name="password">
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
</body>

</html>